<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Forum</title>
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/global.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/contact.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/blog.css') }}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" />
	<link href="https://fonts.googleapis.com/css2?family=Baloo+2&display=swap" rel="stylesheet">
	<script src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

</head>


<body>


	<section id="header">
		<div class="container">
			<div class="row">
				<div class="header_1 clearfix">
					<div class="col-sm-3">
						<div class="header_1l clearfix">
							<h2 class="mgt"><a href="/indexafter.html/{{ participant_id }}"><i class="fa fa-car"></i> <span class="col_1">Auto</span>Hub</a></h2>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="header_1m clearfix">

						</div>
						<div class="header_1r clearfix">
							<ul class="nav navbar-nav mgt navbar-right">
								<li class="dropdown">
									<a class="tag_m1" href="#" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-user"></i></a>
									<ul class="dropdown-menu drop_1" role="menu">
										<li>
											<div class="drop_1i clearfix">
												<div class="col-sm-12">
													<div class="drop_1il text-center clearfix">
														<h5 class="mgt"><a href="/participant_profile/{{ participant_id }}">View Profile</a></h5>
														<h5><a href="/indexbefore.html">Log Out</a></h5>
													</div>
												</div>
											</div>
										</li>
									</ul>
								</li>
								<li class="dropdown">
									<a class="tag_m1" href="/cart/{{ participant_id }}"  role="button" aria-expanded="false"><i class="glyphicon glyphicon-shopping-cart"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
	</section>

	<section id="menu" class="clearfix cd-secondary-nav">
		<nav class="navbar nav_t">
			<div class="container">
				<div class="navbar-header page-scroll">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/indexafter.html/{{ participant_id }}"><i class="fa fa-wrench"></i> <span class="col_1">Auto</span> Hub</a>
				</div>
				<!-- Brand and toggle get grouped for better mobile display -->
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">

						<li><a class="m_tag active_tab" href="/indexafter.html/{{ participant_id }}">Home</a></li>
						<li>
							<a class="m_tag" href="/product/{{ participant_id }}"  role="button" aria-expanded="false">Product</a>
							
						</li>

						<li><a class="m_tag" href="/forum.html/{{ participant_id }}">Forum</a></li>
						
						<li><a class="m_tag" href="/services.html/{{ participant_id }}">Services</a></li>
						
						<li><a class="m_tag" href="https://play.unity.com/mg/other/webgl-builds-381059">3D Car Modification</a></li>

					</ul>

				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>

	</section>

	<section id="center" class="clearfix center_shop">
		<div class="container">
			<div class="row">
				<div class="center_shop_1 clearfix">
					<div class="col-sm-6">
						<div class="center_shop_1l clearfix">
							<h3 class="mgt">Forum Page</h3>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="center_shop_1r text-right clearfix">
							<h5><a class="col_2" href="#">Home</a>  / <span>Forum page</span></h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="blog">
		<div class="container">
			<div class="row">
				<div class="blog_1 clearfix">
					


					<section id="make-post" class="faq-section">
					    <div class="container">
					        <div class="row">
					            <div class="col-sm-8 col-sm-offset-2">
					                <h3>Make a Post</h3>
					                <form action="/forum.html/{{ participant_id }}" method="post" id="post-form" class="faq-form">
					                    <div class="form-group">
					                        <label for="post-name">Name:</label>
					                        <input type="text" class="form-control faq-input" id="post-name" name="name" placeholder="Enter your name" required>
					                    </div>
					                    <div class="form-group">
					                        <label for="post-title">Title:</label>
					                        <input type="text" class="form-control faq-input" id="post-title" name="title" placeholder="Enter the post title" required>
					                    </div>
					                    
					                        <div class="form-group">
					                            <label for="post-description">Description:</label>
					                            <textarea class="form-control faq-input" id="post-description" name="description" rows="4"></textarea>
					                        </div>
					                        <label for="post-image-link">Image Link:</label>
					                        <input type="text" class="form-control faq-input" id="post-image-link" name="image" placeholder="Enter image link">
					                        <div class="form-group">
					                            <label for="post-video">Video Link:</label>
					                            <input type="text" class="form-control faq-input" id="post-video" name="video" placeholder="Enter video link">
					                        </div>
					                    
					                    <div class="text-center">
					           
					                        <h5><button type="submit" name="submit_post" id = "post-button" class="small-button">POST</button></h5>
					                    </div>
					                </form>
					            </div>
					        </div>
					    </div>
					</section>



			 <div class="row">
				
					<div class="col-sm-8 col-sm-offset-2">
						
							<div class="tab-content clearfix">
							{% for post in posts_and_comments %}
							<br>
							<br>
							<br>
							<br>
							<div class="blod_d1 clearfix">

								{% if post['imageURL'] %}
									<img src="{{ post['imageURL'] }}" class="iw" alt="abc">
								{% endif %}

								{% if post['videoURL'] %}
									<iframe width="100%" height="315" src="{{ post['videoURL'] }}" frameborder="0" allowfullscreen></iframe>
								{% endif %}

								<h3>{{ post['title'] }}</h3>
								<h6 class="col_2">


								<a class="col_2"><i class="fa fa-user col_1"></i> By {{ post['name'] }}</a> |
									<a class="col_2"><i class="fa fa-calendar col_1"></i> {{ post['datePosted'] }}</a>
								</h6>
								<hr>

								{% if post['content'] %}
									<p>{{ post['content'] }}</p>
								{% endif %}
								
								<p><i class="fa fa-comments col_1"></i><strong>Comments : </strong></p>
								
							<div id="comments-section">
								<div id="comments-section">
									{% for comment in post['comments'] %}
										<div class="blod_d2i clearfix">
											<div class="col-sm-10">
												<h4 class="mgt">{{ comment['commenter_name'] }}</h4>
												<h6 class="mgt">{{ comment['datetime_posted'] }}</h6>
												<p>{{ comment['message'] }}</p>
											</div>
										</div>
									{% endfor %}
								</div>
							</div>
						

				    <!-- Comment form goes here -->
				

					<div class="blod_d2 clearfix">
						<h3><span class="col_1">|</span> Leave A Comment</h3>
					</div>
					
					<form action="/forum.html/{{participant_id}}/{{ post['postID'] }}" method="post" id="comment-form" class="faq-form">
					    <div class="blod_d3i clearfix">
					    <div class="col-sm-6">
					        <h5>Your Name <span>*</span></h5>
					        <input class="form-control" type="text" name="commenter_name">
					    </div>

					    </div>
					<div class="blod_d3i clearfix">
					    <div class="col-sm-12">
					        <h5>Your Message <span>*</span></h5>
					        <textarea class="form-control form_1" name="comment_text"></textarea>
					        
					    </div>
					</div>
					    <button type="submit" name="post_comment" class="button">POST COMMENT</button>
					</form>
					
					
				    <br>
				    <br>
				{% endfor %}

			</div>
			</div>
			</div>
			
			</div>
			</div>

</section>

	<section id="footer" class="clearfix">
		<div class="container">
			<div class="row">
				<div class="footer_1 clearfix">
					<div class="col-sm-3">
						<div class="footer_1l clearfix">
							<h2 class="mgt"><a href="#"><span class="col_1">Auto</span>Hub</a></h2>
							<p>Our dedicated admin team at AutoHub ensures seamless operations and quality control to provide customers with a reliable source for high-quality automotive spare parts.</p>
							<div class="footer_1li cleafix">
								<span class="col_1"><i class="fa fa-headphones"></i></span>
								<h5>Customer Support</h5>
								<h4><a href="#">(00) 123 456 789</a></h4>
							</div>
						</div>
					</div>
					<div class="col-sm-5">
						<div class="footer_1m clearfix">

							<ul class="social-network social-circle">
								<li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
								<li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="footer_1r clearfix">
							<h4>Information</h4>
							<ul>
								<li><a href="#">About Us <span class="pull-right">Secure payment</span></a></li>
								<li><a href="#">Contact Us <span class="pull-right">Sitemap</span></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="footer_2 text-center clearfix">

				</div>
			</div>
		</div>
	</section>

	<script>
		$(document).ready(function () {
			/*****Fixed Menu******/
			var secondaryNav = $('.cd-secondary-nav'),
				secondaryNavTopPosition = secondaryNav.offset().top;
			$(window).on('scroll', function () {
				if ($(window).scrollTop() > secondaryNavTopPosition) {
					secondaryNav.addClass('is-fixed');
				} else {
					secondaryNav.removeClass('is-fixed');
				}
			});

		});

        // Get the comments link and comments section
        const commentsLink = document.getElementById('comments-link');
        const commentsSection = document.getElementById('comments-section');

        // Add click event to toggle comment section visibility
        commentsLink.addEventListener('click', function (event) {
            event.preventDefault(); // Prevent the default behavior of the link
            if (commentsSection.style.display === 'none') {
                commentsSection.style.display = 'block';
            } else {
                commentsSection.style.display = 'none';
            }
        });

        

	</script>

</body>
 
</html>
