<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Welcome Page</title>
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/global.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/contact.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css2?family=Baloo+2&display=swap" rel="stylesheet">
	<script src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	
	
</head>

  
<body>


	<section id="header">
		<div class="container">
			<div class="row">
				<div class="header_1 clearfix">
					<div class="col-sm-3">
						<div class="header_1l clearfix">
							<h2 class="mgt"><a href="indexbefore.html"><i class="fa fa-car"></i> <span class="col_1">Auto</span>Hub</a></h2>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="header_1m clearfix">

						</div>
						<div class="header_1r clearfix">
							<ul class="nav navbar-nav mgt navbar-right">
								<li><a class="tag_m1" href="login.html"><i class="fa fa-user"></i></a></li>
								
							</ul>
						</div>
					</div>
				</div>
			</div>
	</section>

	<section id="menu" class="clearfix cd-secondary-nav">
		<nav class="navbar nav_t">
			<div class="container">
				<div class="navbar-header page-scroll">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!-- Brand and toggle get grouped for better mobile display -->
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">

						<li><a class="m_tag active_tab" href="indexbefore.html">Home</a></li>
						<li class="dropdown">
							
						</li>

						<li><a class="m_tag" href="https://play.unity.com/mg/other/webgl-builds-381059">3D Car Modification</a></li>

					</ul>

				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>

	</section>

	<section id="center" class="clearfix center_home">
		<div class="container">
			<div class="row">
				<div class="center_home_1 clearfix">
					<div id="carousel-example" class="carousel slide hidden-xs" data-ride="carousel">
						<!-- Wrapper for slides -->
						<div class="carousel-inner">
							<div class="item active">
								<div class="col-sm-6">
									<div class="center_home_l clearfix">
										<h4 class="mgt">World Best Quality</h4>
										<h1>High-Performance Brake Upgrade</h1>
										<hr>
										<p>Upgrade your braking power with this advanced brake kit designed for precision and performance. Featuring cross-drilled and slotted rotors paired with high-friction brake pads, this kit delivers exceptional stopping performance and reduces brake fade. Ideal for drivers demanding increased safety and control on the road or track.</p>
										<h5 class="normal"><a class="button" href="#">Shopping Now</a></h5>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="center_home_r clearfix">
										<img src="https://performanceparts.ford.com/images/part/full/M-2300-T.JPG" class="iw" alt="abc">

									</div>
								</div>
							</div>
							<div class="item">
								<div class="col-sm-6">
									<div class="center_home_l clearfix">
										<h4 class="mgt">World Best Quality</h4>
										<h1>Performance Suspension Kit</h1>
										<hr>
										<p>Enhance your vehicle's handling and stability with this high-performance suspension kit. Crafted from premium materials, this kit includes adjustable shocks, sway bars, and coilovers to provide a smooth ride and improved cornering ability. Perfect for enthusiasts seeking superior control and comfort without compromising on style.</p>
										<h5 class="normal"><a class="button" href="#">Shopping Now</a></h5>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="center_home_r clearfix">
										<img src="https://www.hkptuning.com/cdn/shop/products/47-300118_1_1024x1024.jpg?v=1597790088" class="iw" alt="abc">

									</div>
								</div>


							</div>
						</div>
					</div>
					<div class="sell_1 clearfix">

						<div class="col-sm-12">
							<!-- Controls -->
							<div class="controls text-center">
								<a class="left fa fa-chevron-left btn btn-success" href="#carousel-example" data-slide="prev"></a><a class="right fa fa-chevron-right btn btn-success" href="#carousel-example" data-slide="next"></a>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="Categ">
		<div class="container">
			<div class="row">
				<div class="Categ_1 clearfix">
					<div class="col-sm-12">
						<h3 class="mgt">Popular Categories</h3>
						<hr>
					</div>
				</div>
				<div class="Categ_2 clearfix">
					<!--<div class="Categ_2i clearfix">
						<a href="#"><img src="https://ae01.alicdn.com/kf/S53e890fb58ab4e80af9ae66c931813781.jpg_640x640Q90.jpg_.webp" alt="abc" width="200" height="150"></a>
						<h4 class="mgt"><a href="#">Body and Exterior Parts</a></h4>
						<h6>(10 Items)</h6>
					</div>-->
					<div class="col-sm-3">
						<div class="Categ_2i clearfix">
							<a href="#"><img src="https://image.made-in-china.com/2f0j00eocWiRbaHNkE/Get-Latest-Price-Automotive-Plastic-Parts-Mould-Automobile-Interior-and-Exterior-Trim-Parts-Mould.jpg" alt="abc" width="200" height="150"></a>
							<h4 class="mgt"><a href="#">Body and Exterior Parts</a></h4>
							<h6>(12 Items)</h6>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="Categ_2i clearfix">
							<a href="#"><img src="https://cdn.autodoc.de/uploads/custom-catalog/matd/categories/600x600/10441.png" alt="abc" width="200" height="150"></a>
							<h4 class="mgt"><a href="#">Car interior Parts</a></h4>
							<h6>(12 Items)</h6>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="Categ_2i clearfix">
							<a href="#"><img src="https://cdn.autodoc.de/uploads/custom-catalog/atd/categories/600x600/10110.png" alt="abc" width="200" height="150"></a>
							<h4 class="mgt"><a href="#">Electrical System Parts</a></h4>
							<h6>(15 Items)</h6>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="Categ_2i clearfix">
							<a href="#"><img src="https://preview.free3d.com/img/2014/01/2408155498726557590/0dh3uf4g.jpg" alt="abc" width="200" height="150"></a>
							<h4 class="mgt"><a href="#">Engine Components</a></h4>
							<h6>(20 Items)</h6>
						</div>
					</div>
				</div>
				<div class="Categ_2 clearfix">
					<div class="col-sm-3">
						<div class="Categ_2i clearfix">
							<a href="#"><img src="https://ogtire.com/wp-content/uploads/2022/05/steering-and-suspension-01.jpg" alt="abc" width="200" height="150"></a>
							<h4 class="mgt"><a href="#">Suspension and Steering</a></h4>
							<h6>(30 Items)</h6>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="Categ_2i clearfix">
							<a href="#"><img src="https://performanceparts.ford.com/images/part/full/M-2300-T.JPG" alt="abc" width="200" height="150"></a>
							<h4 class="mgt"><a href="#">Braking System</a></h4>
							<h6>(20 Items)</h6>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="Categ_2i clearfix">
							<a href="#"><img src="https://static-01.daraz.pk/p/2c39a59ae7f3d67601df224b2aa6e82a.jpg_750x750.jpg_.webp" alt="abc" width="200" height="150"></a>
							<h4 class="mgt"><a href="#">Wheels and Rims</a></h4>
							<h6>(10 Items)</h6>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="Categ_2i clearfix">
							<a href="#"><img src="https://atlas-content-cdn.pixelsquid.com/assets_v2/304/3042238790774035702/jpeg-600/G03.jpg?modifiedAt=1" alt="abc" width="200" height="150"></a>
							<h4 class="mgt"><a href="#">Exhaust System Components</a></h4>
							<h6>(25 Items)</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="collection">
		<div class="container">
			<div class="row">
				<div class="collect_1 clearfix">
					<div class="col-sm-4">
						<div class="collect_1l clearfix">
							<div class="col-sm-5 space_all">
								<div class="collect_1ll clearfix">
									<h4 class="mgt col_2">New!</h4>
									<h3>20% Off</h3>
									<h6><a class="button mgt" href="#"> Shop Now</a></h6>
								</div>
							</div>
							<div class="col-sm-7 space_right">
								<div class="collect_1lr clearfix">
									<a href="#"><img src="https://www.cobbtuning.com/media/catalog/products/accessport_v3_extra_01.jpg" alt="abc" class="iw"></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="collect_1l clearfix">
							<div class="col-sm-5 space_all">
								<div class="collect_1ll clearfix">
									<h4 class="mgt col_2">New!</h4>
									<h3>20% Off</h3>
									<h6><a class="button mgt" href="#"> Shop Now</a></h6>
								</div>
							</div>
							<div class="col-sm-7 space_right">
								<div class="collect_1lr clearfix">
									<a href="#"><img src="https://autoid.co/cdn/shop/files/DSC07964-Editcopy_f34cfcee-6012-479c-b0a8-b9edd2c7d2cf_1600x.jpg?v=1684860760" alt="abc" class="iw"></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="collect_1l clearfix">
							<div class="col-sm-5 space_all">
								<div class="collect_1ll clearfix">
									<h4 class="mgt col_2">New!</h4>
									<h3>20% Off</h3>
									<h6><a class="button mgt" href="#"> Shop Now</a></h6>
								</div>
							</div>
							<div class="col-sm-7 space_right">
								<div class="collect_1lr clearfix">
									<a href="#"><img src="https://assets.whichcar.com.au/image/upload/s--ePHhQGdc--/c_fill,f_auto,q_auto:good/t_p_1x1/v1/archive/whichcar/2019/04/29/-1/catalytic-converter-cutaway.jp" alt="abc" class="iw"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="sell">
		<div class="container">
			<div class="row">
				<div class="sell_1_o clearfix">
					<div class="col-sm-5 space_left sell_1_ol">
						<h2 class="mgt">Deals</h2>
						<hr>
					</div>
					<div class="col-sm-7 space_left">
						<!-- Controls -->
						<div class="clearfix sell_1_or text-right">
							<ul class="nav_1_tab">
								<li class="active"><a data-toggle="tab" href="#home">DEALS </a></li>
								<li class=""><a data-toggle="tab" href="#menu1">TRENDING </a></li>
								<li><a data-toggle="tab" href="#menu2">POPULAR </a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="tab-content clearfix">
					<div id="home" class="tab-pane fade  clearfix active in">
						<div class="click clearfix">
							<div class="sell_o_1 clearfix">
								<div class="col-sm-3 space_left">
									<div class="arriv_2m clearfix">
										<div class="arriv_2m1 clearfix">
											<a href="#"><img src="https://www.tire-reviews.com/images/tyres/Michelin-Pilot-Sport-4-S.png" alt="abc" class="iw"></a>
										</div>
										<div class="arriv_2m2 clearfix">
											<h5 class="text-center mgt">New</h5>
										</div>
										<div class="arriv_2m2n clearfix">
											<h5 class="text-center mgt">Sale</h5>
										</div>
										<div class="arriv_2m3 clearfix">
											<h4 class="bold mgt">Michelin Pilot Sport 4S Tires</h4>
											<p><a href="#">High-performance tires known for their exceptional grip, precise handling, and durability, designed for sports cars and high-powered vehicles.</a></p>
											<span class="span_1">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</span>
											<h3 class="normal">
												<span class="span_2">Rs.10,000</span>
												<span class="span_3 col_1"> Rs.8000</span>
											</h3>
										</div>
									</div>
								</div>
								<div class="col-sm-3 space_left">
									<div class="arriv_2m clearfix">
										<div class="arriv_2m1 clearfix">
											<a href="#"><img src="https://m.media-amazon.com/images/I/81Gb9NUBM8L.jpg" alt="abc" class="iw"></a>
										</div>
										<div class="arriv_2m2 clearfix">
											<h5 class="text-center mgt">New</h5>
										</div>
										<div class="arriv_2m2n clearfix">
											<h5 class="text-center mgt">Sale</h5>
										</div>
										<div class="arriv_2m3 clearfix">
											<h4 class="bold mgt">Meguiar's Ultimate Liquid Wax</h4>
											<p><a href="#">A premium car wax offering long-lasting protection, deep gloss, and enhanced water beading, suitable for all paint finishes.</a></p>
											<span class="span_1">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</span>
											<h3 class="normal">
												<span class="span_2">Rs.15,000</span>
												<span class="span_3 col_1"> Rs.11,299</span>
											</h3>
										</div>
									</div>
								</div>
								<div class="col-sm-3 space_left">
									<div class="arriv_2m clearfix">
										<div class="arriv_2m1 clearfix">
											<a href="#"><img src="https://www.wiperbladepro.ca/cdn/shop/files/Bosch_Icon_wPackage_2_x583@2x.png?v=1691086395" alt="abc" class="iw"></a>
										</div>
										<div class="arriv_2m2 clearfix">
											<h5 class="text-center mgt">New</h5>
										</div>
										<div class="arriv_2m2n clearfix">
											<h5 class="text-center mgt">Sale</h5>
										</div>
										<div class="arriv_2m3 clearfix">
											<h4 class="bold mgt">Bosch ICON Wiper Blades</h4>
											<p><a href="#">Aerodynamic windshield wiper blades featuring a patented beam design for improved visibility, reduced noise, and durable performance in various weather conditions.</a></p>
											<span class="span_1">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</span>
											<h3 class="normal">
												<span class="span_2">Rs.8000</span>
												<span class="span_3 col_1"> Rs.6000</span>
											</h3>
										</div>
									</div>
								</div>
								<div class="col-sm-3 space_left">
									<div class="arriv_2m clearfix">
										<div class="arriv_2m1 clearfix">
											<a href="#"><img src="https://www.moss-europe.fr/media/catalog/product/cache/5/image/1000x1000/9df78eab33525d08d6e5fb8d27136e95/k/n/knru2710pic1_13.jpg" alt="abc" class="iw"></a>
										</div>
										<div class="arriv_2m2 clearfix">
											<h5 class="text-center mgt">New</h5>
										</div>
										<div class="arriv_2m2n clearfix">
											<h5 class="text-center mgt">Sale</h5>
										</div>
										<div class="arriv_2m3 clearfix">
											<h4 class="bold mgt">K&N Performance Air Filter</h4>
											<p><a href="#">Reusable high-flow air filters designed to increase horsepower and acceleration by allowing a greater airflow into the engine while providing excellent filtration.</a></p>
											<span class="span_1">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</span>
											<h3 class="normal">
												<span class="span_2">Rs.10,000</span>
												<span class="span_3 col_1"> Rs.9000</span>
											</h3>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="menu1" class="tab-pane fade  clearfix">
						<div class="click clearfix">
							<div class="sell_o_1 clearfix">
								<div class="col-sm-3 space_left">
									<div class="arriv_2m clearfix">
										<div class="arriv_2m1 clearfix">
											<a href="#"><img src="https://m.media-amazon.com/images/I/91nTbHI7sHL.jpg" alt="abc" class="iw"></a>
										</div>
										<div class="arriv_2m2 clearfix">
											<h5 class="text-center mgt">New</h5>
										</div>
										<div class="arriv_2m2n clearfix">
											<h5 class="text-center mgt">Sale</h5>
										</div>
										<div class="arriv_2m3 clearfix">
											<h4 class="bold mgt">Escort Max 360C Radar Detector</h4>
											<p><a href="#">A high-performance radar and laser detector equipped with 360-degree detection, GPS-based filtering, Bluetooth connectivity, and real-time threat alerts.</a></p>
											<span class="span_1">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</span>
											<h3 class="normal">
												<span class="span_2">Rs.10,000</span>
												<span class="span_3 col_1"> Rs.9000</span>
											</h3>
										</div>
									</div>
								</div>
								<div class="col-sm-3 space_left">
									<div class="arriv_2m clearfix">
										<div class="arriv_2m1 clearfix">
											<a href="#"><img src="https://images.tayna.com/prod-images/1200/Optima/optima-rts-2.1.jpg" alt="abc" class="iw"></a>
										</div>
										<div class="arriv_2m2 clearfix">
											<h5 class="text-center mgt">New</h5>
										</div>
										<div class="arriv_2m2n clearfix">
											<h5 class="text-center mgt">Sale</h5>
										</div>
										<div class="arriv_2m3 clearfix">
											<h4 class="bold mgt">Optima RedTop AGM Car Battery</h4>
											<p><a href="#">A high-performance, maintenance-free AGM (absorbent glass mat) battery known for its powerful starting ability, durability, and resistance to vibration in various vehicle applications.</a></p>
											<span class="span_1">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</span>
											<h3 class="normal">
												<span class="span_2">Rs.11,000</span>
												<span class="span_3 col_1"> Rs.8000</span>
											</h3>
										</div>
									</div>
								</div>
								<div class="col-sm-3 space_left">
									<div class="arriv_2m clearfix">
										<div class="arriv_2m1 clearfix">
											<a href="#"><img src="https://www.thule.com/-/p/1peUWTkRP0pOUXdvyxVUqyYE80x3if_Y_sOTGyNQ0m4/rs:fit/h:991/cb:1.4/w:991/plain/approved/std.lang.all/93/61/1389361.png" alt="abc" class="iw"></a>
										</div>
										<div class="arriv_2m2 clearfix">
											<h5 class="text-center mgt">New</h5>
										</div>
										<div class="arriv_2m2n clearfix">
											<h5 class="text-center mgt">Sale</h5>
										</div>
										<div class="arriv_2m3 clearfix">
											<h4 class="bold mgt">Thule Motion XT Rooftop Cargo Box</h4>
											<p><a href="#">A sleek and spacious rooftop cargo carrier offering secure storage for luggage, sports gear, and other items, featuring easy access and aerodynamic design to reduce wind noise and drag.</a></p>
											<span class="span_1">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</span>
											<h3 class="normal">
												<span class="span_2">Rs.15,000</span>
												<span class="span_3 col_1"> Rs.10,000</span>
											</h3>
										</div>
									</div>
								</div>
								<div class="col-sm-3 space_left">
									<div class="arriv_2m clearfix">
										<div class="arriv_2m1 clearfix">
											<a href="#"><img src="https://www.rigidindustries.com/media/catalog/product/cache/080cb918d530aff4fef2504fad486008/9/0/906313-SR_SERIES_PRO_6_COMBO_ANGLE_5.jpg" alt="abc" class="iw"></a>
										</div>
										<div class="arriv_2m2 clearfix">
											<h5 class="text-center mgt">New</h5>
										</div>
										<div class="arriv_2m2n clearfix">
											<h5 class="text-center mgt">Sale</h5>
										</div>
										<div class="arriv_2m3 clearfix">
											<h4 class="bold mgt">Rigid Industries LED Light Bar</h4>
											<p><a href="#">High-intensity LED light bars known for their durability and brightness, providing superior illumination for off-road vehicles, trucks, and SUVs in low-light conditions.</a></p>
											<span class="span_1">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</span>
											<h3 class="normal">
												<span class="span_2">Rs.5000</span>
												<span class="span_3 col_1"> Rs.4000</span>
											</h3>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="menu2" class="tab-pane fade  clearfix">
						<div class="click clearfix">
							<div class="sell_o_1 clearfix">
								<div class="col-sm-3 space_left">
									<div class="arriv_2m clearfix">
										<div class="arriv_2m1 clearfix">
											<a href="#"><img src="https://www.cobra.com/cdn/shop/products/Cobra_RAD480i_Hero-2_1000px_615x.jpg?v=1674691974" alt="abc" class="iw"></a>
										</div>
										<div class="arriv_2m2 clearfix">
											<h5 class="text-center mgt">New</h5>
										</div>
										<div class="arriv_2m2n clearfix">
											<h5 class="text-center mgt">Sale</h5>
										</div>
										<div class="arriv_2m3 clearfix">
											<h4 class="bold mgt">Cobra RAD 480i Radar Detector</h4>
											<p><a href="#">A compact radar detector featuring long-range detection, intelligent filtering, Bluetooth connectivity, and real-time alerts for monitoring potential speed traps or radar guns.</a></p>
											<span class="span_1">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</span>
											<h3 class="normal">
												<span class="span_2">Rs.15,000</span>
												<span class="span_3 col_1"> Rs.11,000</span>
											</h3>
										</div>
									</div>
								</div>
								<div class="col-sm-3 space_left">
									<div class="arriv_2m clearfix">
										<div class="arriv_2m1 clearfix">
											<a href="#"><img src="https://www.buybrakes.com/images/product/brembo-gt-drilled-brake-kit_1.jpg" alt="abc" class="iw"></a>
										</div>
										<div class="arriv_2m2 clearfix">
											<h5 class="text-center mgt">New</h5>
										</div>
										<div class="arriv_2m2n clearfix">
											<h5 class="text-center mgt">Sale</h5>
										</div>
										<div class="arriv_2m3 clearfix">
											<h4 class="bold mgt">Brembo GT Series Brake Kit</h4>
											<p><a href="#">High-performance brake upgrade kit including calipers, rotors, and pads designed for enhanced stopping power, heat dissipation, and overall braking performance.</a></p>
											<span class="span_1">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</span>
											<h3 class="normal">
												<span class="span_2">Rs.100,000</span>
												<span class="span_3 col_1"> Rs.90,000</span>
											</h3>
										</div>
									</div>
								</div>
								<div class="col-sm-3 space_left">
									<div class="arriv_2m clearfix">
										<div class="arriv_2m1 clearfix">
											<a href="#"><img src="https://www.radarwarnsysteme.de/images/product_images/popup_images/10087_Product.jpg" alt="abc" class="iw"></a>
										</div>
										<div class="arriv_2m2 clearfix">
											<h5 class="text-center mgt">New</h5>
										</div>
										<div class="arriv_2m2n clearfix">
											<h5 class="text-center mgt">Sale</h5>
										</div>
										<div class="arriv_2m3 clearfix">
											<h4 class="bold mgt">Valentine One Gen2 Radar Detector</h4>
											<p><a href="#">An advanced radar detector offering long-range detection, directional arrows indicating the location of threats, and exceptional sensitivity for detecting radar and laser signals.</a></p>
											<span class="span_1">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</span>
											<h3 class="normal">
												<span class="span_2">Rs.30,000</span>
												<span class="span_3 col_1"> Rs.25,000</span>
											</h3>
										</div>
									</div>
								</div>
								<div class="col-sm-3 space_left">
									<div class="arriv_2m clearfix">
										<div class="arriv_2m1 clearfix">
											<a href="#"><img src="https://shaharyartraders.com/wp-content/uploads/2021/10/609gto.jpg" alt="abc" class="iw"></a>
										</div>
										<div class="arriv_2m2 clearfix">
											<h5 class="text-center mgt">New</h5>
										</div>
										<div class="arriv_2m2n clearfix">
											<h5 class="text-center mgt">Sale</h5>
										</div>
										<div class="arriv_2m3 clearfix">
											<h4 class="bold mgt">JBL GTO Series Premium Car Speakers</h4>
											<p><a href="#">High-quality car speakers delivering crisp, clear audio with impressive power handling and durable construction for an enhanced in-car listening experience.</a></p>
											<span class="span_1">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</span>
											<h3 class="normal">
												<span class="span_2">Rs.40,000</span>
												<span class="span_3 col_1"> Rs.30,000</span>
											</h3>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<!-- ======= Team Section ======= -->
	<section id="team-section">
		<section id="team" class="team">
			<div class="container">

				<div class="section-title">

					<h2>Team</h2>

				</div>
				<div class="col-sm-3 space_left">
					<div class="arriv_2m clearfix">
						<div class="arriv_2m1 clearfix">
							<a href="#"><img src="https://i2.wp.com/www.techplip.com/wp-content/uploads/2020/10/Blocked-You-On-Instagram-1.png?resize=300%2C300&ssl=1" alt="abc" class="iw"></a>
						</div>

						<div class="arriv_2m3 clearfix">
							<h4 class="bold mgt">Khadeeja Wasif</h4>
							<p><a href="#">As the visionary Co-Founder and CEO, I bring over a decade of experience in the automotive industry. My passion for cars drives me to oversee the strategic direction of our company, ensuring innovation, quality, and utmost customer satisfaction.</a></p>
							<span class="span_1">

							</span>

						</div>
					</div>
				</div>
				<div class="col-sm-3 space_left">
					<div class="arriv_2m clearfix">
						<div class="arriv_2m1 clearfix">
							<a href="#"><img src="https://i2.wp.com/www.techplip.com/wp-content/uploads/2020/10/Blocked-You-On-Instagram-1.png?resize=300%2C300&ssl=1" alt="abc" class="iw"></a>
						</div>

						<div class="arriv_2m3 clearfix">
							<h4 class="bold mgt">Rafia Karim</h4>
							<p><a href="#">As the Co-Founder and CFO, I am the financial backbone of our operations. With my background in finance, I meticulously manage our financial resources, ensuring the stability and growth of our business while maintaining a focus on fiscal responsibility.</a></p>
							<span class="span_1">

							</span>

						</div>
					</div>
				</div>
				<div class="col-sm-3 space_left">
					<div class="arriv_2m clearfix">
						<div class="arriv_2m1 clearfix">
							<a href="#"><img src="https://i2.wp.com/www.techplip.com/wp-content/uploads/2020/10/Blocked-You-On-Instagram-1.png?resize=300%2C300&ssl=1" alt="abc" class="iw"></a>
						</div>

						<div class="arriv_2m3 clearfix">
							<h4 class="bold mgt">Ariba Arshad</h4>
							<p><a href="#">As the Operations Manager, I am the engine that keeps our business running smoothly. With my keen eye for detail and logistics expertise, I oversee inventory management, order fulfillment, and logistics, ensuring timely deliveries and optimal stock levels.</a></p>
							<span class="span_1">

							</span>

						</div>
					</div>
				</div>
				<div class="col-sm-3 space_left">
					<div class="arriv_2m clearfix">
						<div class="arriv_2m1 clearfix">
							<a href="#"><img src="https://i2.wp.com/www.techplip.com/wp-content/uploads/2020/10/Blocked-You-On-Instagram-1.png?resize=300%2C300&ssl=1" alt="abc" class="iw"></a>
						</div>

						<div class="arriv_2m3 clearfix">
							<h4 class="bold mgt">Raabia Baig</h4>
							<p><a href="#">As the Customer Relations Specialist, I am dedicated to providing exceptional service. With my friendly demeanor and deep product knowledge, I ensure that our customers receive prompt assistance, valuable information, and a positive experience with our car spare parts.</a></p>
							<span class="span_1">

							</span>

						</div>
					</div>
				</div>




			</div>

			</div>
		</section><!-- End Team Section -->
	</section>

		<section id="contact-section">

		<section id="contact" class="clearfix">

		<section id="faqsection" class="faqsection">	

			<div class="container">
				<div class="row">
					<div class="contact_1  clearfix">
						<div class="col-sm-8">
							<div class="contact_1lm clearfix">
								<div class="contact_1l clearfix">
									<h4 class="col_1 mgt">FAQs</h4>
								</div>
								<br>
								<div class="faq-section">
									<div class="faq-question">
										<div class="question-box">
											<h5>Question 1: What types of spare parts are available for cars?</h5>
											<div class="dropdown-arrow">▼</div>
										</div>
										<div class="faq-answer">
											<p>Various spare parts are available including engine components, brakes, suspension parts, electrical components, and more. Contact sellers for specific parts.</p>
										</div>
									</div>

									<div class="faq-question">
										<div class="question-box">
											<h5>Question 2: How can I find reliable sellers for car spare parts?</h5>
											<div class="dropdown-arrow">▼</div>
										</div>
										<div class="faq-answer">
											<p>You can search for authorized dealers, check online marketplaces, or seek recommendations from car enthusiasts.</p>
										</div>
									</div>

									<div class="faq-question">
										<div class="question-box">
											<h5>Question 3: Are used car parts reliable?</h5>
											<div class="dropdown-arrow">▼</div>
										</div>
										<div class="faq-answer">
											<p>Used car parts can be reliable depending on their condition and source. Ensure to buy from reputable sellers and inspect the parts before purchase.</p>
										</div>
									</div>

									<div class="faq-question">
										<div class="question-box">
											<h5>Question 4: Can I return car parts if they don't fit?</h5>
											<div class="dropdown-arrow">▼</div>
										</div>
										<div class="faq-answer">
											<p>It depends on the seller's return policy. Some sellers allow returns if the parts are unused and in their original packaging. Always check the return policy before purchasing.</p>
										</div>
									</div>

									<div class="faq-question">
										<div class="question-box">
											<h5>Question 5: How do I know which part my car needs?</h5>
											<div class="dropdown-arrow">▼</div>
										</div>
										<div class="faq-answer">
											<p>You can refer to your car's manual, consult a mechanic, or use online resources and forums dedicated to your car's make and model for guidance.</p>
										</div>
									</div>

									<div class="faq-question">
										<div class="question-box">
											<h5>Question 6: Are OEM parts better than aftermarket parts?</h5>
											<div class="dropdown-arrow">▼</div>
										</div>
										<div class="faq-answer">
											<p>OEM (Original Equipment Manufacturer) parts are made by the vehicle's manufacturer and are identical to the parts originally used in the vehicle. Aftermarket parts are produced by other companies. The choice between them often depends on cost, warranty, and specific needs.</p>
										</div>
									</div>

									<div class="faq-question">
										<div class="question-box">
											<h5>Question 7: Can I install car parts myself?</h5>
											<div class="dropdown-arrow">▼</div>
										</div>
										<div class="faq-answer">
											<p>It depends on your skill level and the complexity of the part. Some parts can be installed by DIY enthusiasts with the right tools and knowledge, while others may require professional installation to ensure safety and proper functioning.</p>
										</div>
									</div>
								</div>


							</div>
						</div>

						<div class="col-sm-4">
							<div class="contact_1rm clearfix">
								<div class="contact_1r1 mgt clearfix">
									<span><i class="fa fa-phone"></i></span>
									<h4>Call us Now:</h4>
									<p>+123 456-789-0000</p>
									<p class="mgt">+123 456-789-0000</p>
								</div>
								<div class="contact_1r1 clearfix">
									<span><i class="fa fa-phone"></i></span>
									<h4>Email:</h4>
									<p><a href="#">info@gmail.com</a></p>
									<p class="mgt">info@gmail.com</p>
								</div>
								<div class="contact_1r1 clearfix">
									<span><i class="fa fa-phone"></i></span>
									<h4>Our Address:</h4>
									<p>LB-61/1, Travel Agency, 15 Grand</p>
									<p class="mgt">Central Terminal, London.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="contact_2 clearfix">
						<div class="col-sm-12">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d114964.53925916665!2d-80.29949920266738!3d25.782390733064336!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9b0a20ec8c111%3A0xff96f271ddad4f65!2sMiami%2C+FL%2C+USA!5e0!3m2!1sen!2sin!4v1530774403788" width="100%" height="500px" frameborder="0" style="border:0" allowfullscreen=""></iframe>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>
	</section>


	<section id="footer" class="clearfix">
		<div class="container">
			<div class="row">
				<div class="footer_1 clearfix">
					<div class="col-sm-3">
						<div class="footer_1l clearfix">
							<h2 class="mgt"><a href="#"><span class="col_1">Auto</span>Hub</a></h2>
							<p>Our dedicated admin team at AutoHub ensures seamless operations and quality control to provide customers with a reliable source for high-quality automotive spare parts.</p>
							<div class="footer_1li cleafix">
								<span class="col_1"><i class="fa fa-headphones"></i></span>
								<h5>Customer Support</h5>
								<h4><a href="#">(00) 123 456 789</a></h4>
							</div>
						</div>
					</div>
					<div class="col-sm-5">
						<div class="footer_1m clearfix">

							<ul class="social-network social-circle">
								<li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
								<li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="footer_1r clearfix">
							<h4>Information</h4>
							<ul>
								<li><a href="#">About Us <span class="pull-right">Secure payment</span></a></li>
								<li><a href="#">Contact Us <span class="pull-right">Sitemap</span></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="footer_2 text-center clearfix">

				</div>
			</div>
		</div>
	</section>

	<script>
		$(document).ready(function () {
			/**Fixed Menu***/
			var secondaryNav = $('.cd-secondary-nav'),
				secondaryNavTopPosition = secondaryNav.offset().top;
			$(window).on('scroll', function () {
				if ($(window).scrollTop() > secondaryNavTopPosition) {
					secondaryNav.addClass('is-fixed');
				} else {
					secondaryNav.removeClass('is-fixed');
				}
			});

		});
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.faq-question').click(function () {
				$(this).find('.faq-answer').toggleClass('answer-visible');
				$(this).find('.dropdown-arrow').toggleClass('open');
			});
	});
	</script>

	</script>

</body>
 
</html>
