<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Email Sent</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/logo.png" rel="icon">
    <link href="assets/img/logo.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- Template Main CSS File -->
    <link href="assets/css/style1.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Day
    * Updated: Mar 10 2023 with Bootstrap v5.2.3
    * Template URL: https://bootstrapmade.com/day-multipurpose-html-template-for-free/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="d-flex align-items-center">
        <div class="container d-flex justify-content-center justify-content-md-between">
            <div class="contact-info d-flex align-items-center">
                <i class="bi bi-envelope-fill"></i><a href="mailto:contact@example.com">info@example.com</a>
                <i class="bi bi-phone-fill phone-icon"></i> +1 5589 55488 55
            </div>
            <div class="social-links d-none d-md-block">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
            </div>
        </div>
    </section>

    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">

            <!--<h1 class="logo"><a href="index.html">Day</a></h1>-->
            <!-- Uncomment below if you prefer to use an image logo -->
            <a href="index.html" class="logo"><img src="assets/img/logo2.jpeg" alt="" class="img-fluid"></a>

            

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="index.html#hero">Home</a></li>
                    <li><a class="nav-link scrollto" href="index.html#about">About</a></li>
                    <li><a class="nav-link scrollto" href="index.html#services">Services</a></li>
                    <li><a class="nav-link scrollto " href="index.html#portfolio">Trending</a></li>
                    <li><a class="nav-link scrollto" href="index.html#pricing">Discounts</a></li>
                    <li><a class="nav-link scrollto" href="index.html#book">Booking</a></li>
                    <li class="dropdown">
                        <a href="#"><span>More</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="baggage guide.html">Baggage Guide</a></li>                           
                            <li><a href="reservation.html">View Reservation</a></li>
							<li><a href="CancelReservation.html">Cancel Reservation</a></li>
                            <li><a href="FlightStatus.html">Flight Status</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link scrollto" href="index.html#contact">Contact</a></li>
                    <li><a class="nav-link scrollto" href="SignUp.html">Sign up</a></li>
                    <li class="dropdown">
                        <a class="nav-link scrollto" href="login.html">Log in<img src="assets/img/user.png" width="20" /></a>
                        <ul>
                            <div class="text-center">
                                <img src="assets/img/user.png" width="50" />
                            </div>
                            <br />
                            <li><a href="#">Log out</a></li>

                        </ul>
                    </li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">

                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li>Login</li>
                    <li>Reset Password</li>
                    <li>Email Sent</li>
                </ol>
                <h2>Email Sent</h2>

            </div>
        </section><!-- End Breadcrumbs -->
        <!-- ======= Contact Section ======= -->
        <section id="section2" class="section2">

            <div class="title1">
                <span>Email Sent</span>
                <h2>Email Sent</h2>
            </div>
            <div class="body">
                <div class="passwordBox">
                    <br />
                    <br />

                    <p2> An email has been sent to you. </p2>

                    <br />
                    <br />

                    <input type="submit" value="Go Back To Login Page"
                           onclick="location.href = 'login.html'" />

                    <br />
                    <br />
                    <br />
                </div>
            </div>
        </section><!-- End Contact Section -->


    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-6">
                        <div class="footer-info">
                            <img src="assets/img/logo.jpg" style="width:100%" />
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="index.html#">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="index.html#about">About us</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="index.html#services">Services</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="index.html#contact">Contact us</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="index.html#faq">FAQ's</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Our Network</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> Middle East</li>
                            <li><i class="bx bx-chevron-right"></i> Asia</li>
                            <li><i class="bx bx-chevron-right"></i> Africa</li>
                            <li><i class="bx bx-chevron-right"></i> Europe</li>
                            <li><i class="bx bx-chevron-right"></i> North America</li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Help and Support</h4>
                        <p>You can use this section to find the best way to contact us</p>
						
						<div style="display: flex; flex-direction: column;">
                        <form method="POST" action="Help.php" id="form1">
                           	<input type="text" name="searchTerm" id="text1" required="" placeholder="Describe your query"><input id="search" type="submit" value="Search">							
                        </form>
						<div id="searchResults"></div>
						</div>
						
						
						
						
						
						<script>
							$("#search").ready(function(){
								$("#form1").submit(function(event){
									event.preventDefault();
									var searchTerm = $("#text1").val();

									$.post("Help.php", {searchTerm: searchTerm}, function(data){
										$("#searchResults").html(data);

										// create a dropdown menu to display the search results
										var dropdown = $("<select>");
										dropdown.addClass("Helpdropdown");

										if (data.length > 0) {
											$.each(data, function(index, value) {
												var option = $("<option>");
												option.val(value.Answer);
												option.text(value.Question);
												option.addClass("Helpdropdown-option"); // add your option class here
												dropdown.append(option);
											});
										} else {
											var option = $("<option>");
											option.val("");
											option.text("No results found");
											dropdown.append(option);
										}

										// remove the default "Select" option
										dropdown.find("option:first").remove();

										$("#searchResults").html(dropdown);
									});
								});
								
								// Add event listener for selected options
								$("#searchResults").on("change", ".Helpdropdown-option", function() {
									$(".Helpdropdown-option").removeClass("selected"); // remove "selected" class from all options
									$(this).addClass("selected"); // add "selected" class to the currently selected option
								});
							});
						</script>




	
                        <p>
                            <br />
                            <strong>Phone:</strong> +1 5589 55488 55<br>
                            <strong>Email:</strong> info@phoenixair.com<br>
                        </p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>PhoenixAir</span></strong>. All Rights Reserved
            </div>
            <!--<div class="credits">-->
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/day-multipurpose-html-template-for-free/ -->
            <!--Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>-->
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>

</body>

</html>